* {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

body {
  background-color: #000000;
  color: #ffffff;
}

h1 {
  font-size: 1.5rem;
}

h1, p, fieldset {
  margin: 1rem;
}

fieldset {
  border: none;
}

textarea {
  padding: 1rem;
  width: 80vw;
  height: 40vh;
  font-family: monospace;
  font-size: 1.4rem;
}

button {
  background-color: #cccccc;
}

button, input {
  padding: 0.3rem 1rem;
  color: #000000;
}

@media (min-width: 992px) {
  * {
    font-size: 22px;
  }

  textarea {
    font-size: 1rem;
  }
}